.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 45px;
}
.searchBar input{
    height: 40px;
    width: 550px;
    border-radius: 50px;
    border: 1px solid gainsboro;
    font-size: 18px;
    padding-left: 20px;
}
.searchBar input:focus{
    outline: none;
    border: 1px solid rgb(135, 210, 235);
}
.userOptions{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.userOptions h4{
    background-color: crimson;
    color: white;
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 100%;
}